.nav-bar {
	position: fixed;
	bottom: 12px;
	right: 5%;
	width: 90%;
	box-shadow: 0px 0px 6px 1px;
	border-color: transparent;
	opacity: 0.9;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.nav-bar:hover {
	opacity: 0.9 !important;
}

#post {
	padding-top: 5%;
	padding-left: 3%;
	padding-right: 3%;
	position: absolute;
	left: 12%;
	right: 12%;
	height: 100%;
	transition: transform .25s ease-in-out;
	-moz-transition: transform .25s ease-in-out;
	-webkit-transition: transform .25s ease-in-out;
}

#messager {
	position: absolute;
	/*height: 100%;*/
	width: 100%;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 1000;
	font-size: large;
	color: white;
	text-align: center;
	vertical-align: middle;
}

.danger {
	background-color: #a94442;
	padding: 14px;
	height: 50px;
}

.success {
	background-color: #3c763d;
	height: 50px;
	padding: 14px;
}

.info {
	background-color: #31708f;
	height: 50px;
	padding: 14px;
}

.left-nav {
	left: 0;
	right: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10%;
}

.right-nav {
	right: 0;
	left: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10%;
}

.next-post {
	transform: scale(0.9) translateX(-7.6%);
	box-shadow: 0px 0px 10px 1px silver;
}

.pre-post {
	transform: scale(0.9) translateX(3.8%);
	box-shadow: 0px 0px 10px 1px silver;
}